body {
  padding-top: 50px;
}

.nav-custom{
  background-color: blue;
}

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #c6c6c6;
}

.navbar-fixed-top {
  border: 0;
}

.sidebar {
  position: fixed;
  top: 51px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: block;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #f5f5f5;
  border-right: 1px solid #eee;
}

.nav-sidebar {
  margin-right: -21px;
  margin-bottom: 20px;
  margin-left: -20px;
}

.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}

.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}


.main .page-header {
  margin-top: 0;
}

.form-signin, .form-daftar, .form-restok, .form-kasir {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.form-signin .form-control, .form-daftar .form-control{
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
  margin-bottom: 5px;
}

.form-restok .form-control, .form-kasir .form-control{
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 5px;
  font-size: 14px;
  margin-bottom: 5px;
}

.form-group{
  margin-bottom: 5px;
}

.form-group .form-control{
  margin-bottom: 0px !important;
}

.tengah{
  text-align: center;
}

.kanan{
  text-align: right;
}

.container{
  margin-top: 20px;
}

.font48{
  font-size: 48px;
}